@charset "UTF-8";
/* 全体の基本設定、ヘッダ/フッタ、フロントページの設定をするCSS */

/* ベーススタイル */
html{
  font-size: 62.5%;
}
body{
  color: #333;
  font-family: 'Didact Gothic', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #333;
}
*, *::before, *::after{
  box-sizing: border-box;
}

/* 全体レイアウト */
body{
  display: flex;            /* HACK: IE対応のための、親要素flex設定(flex-wrapperのmin-height適用のため)*/
  display:-ms-flexbox;
}
.flex-wrapper{
  display: flex;
  display:-ms-flexbox;
  flex-direction: column;
  -ms-flex-direction:column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}
main{
  display: flex;
  display:-ms-flexbox;
  width: 100vw;
  max-width: 1368px;
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  padding: 0 15px;
  margin: 0 auto 30px;
}
.main-contents{
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  height: 100%;
}
aside{
  width: 350px;
  height: 100%;
}
footer{
  height: 80px;
}

/* ヘッダ */
header{
  position: relative;
  border-bottom: 1px solid #ccc;
}
.header-wrapper{
  display: flex;
  display:-ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -ms-flex-align: center;
}
.title{
  margin: 10px 0 10px 50px;
  text-align: center;
}
.title > span{
  font-size: 4.8rem;
  letter-spacing: 2px;
}
.title > p{
  margin: 3px 0;
}
.global-nav{
  margin: 20px 100px 20px 0;
}
.global-nav > ul{
  display: flex;
  display:-ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  text-align: center;
}
.global-nav > ul > li{
  margin: 0 16px;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.global-nav > ul > li > a{
  position: relative;
  display: block;
  padding: 5px;
}
.global-nav > ul > li > a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  border-bottom: 2px solid currentColor;
  width: 100%;
  transform: scale(0);
  transition: .4s;
}
.global-nav > ul > li > a:hover::after{
  transform: scale(1);
}
.contact-list{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 69.14px;
  background-color: rgba(18,39,74,.8);
}
.contact-list a{
  display: block;
  width: 100%;
  height: 50%;
  line-height: 43px;
  letter-spacing: 1px;
  white-space: nowrap;
  padding: 0  10px;
  color: #fff;
  transition: .3s;
}
.contact-list a:hover{
  background-color:#fff;
  color: rgba(18,39,74);
  box-shadow: 0 0 4px inset;
}
.contact-list a:first-child{
  border-bottom: 1px solid;
}
.contact-list a span{
  margin-right: 3px;
}
.contact-list a:first-child span{
  margin-right: 5px;
}

/* メインビジュアル */
.main-visual{
  margin-bottom: 32px;
}
.slide-wrapper{
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
}
.slide-wrapper ul{
  width: 100%;
  height: 100%;
}
.slide-wrapper ul li{
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide{
  background-size: cover;
  background-repeat: no-repeat;
}
.slide1{
  background-image: url('../images/books-2596809_1920.jpg');
  background-position: left 22%;
}
.slide2{
  background-image: url('../images/steinhuder-sea-4909703.jpg');
  background-position: left 36%;
}
.slide3{
  background-image: url('../images/water-5318700_1920.jpg');
  background-position: left center;
}
.slide4{
  background-image: url('../images/landscapes-5323529_1920.jpg');
  background-position: left center;
}
.slide5{
  background-image: url('../images/autumn-4501856_1920.jpg');
  background-position: left 42%;
}
.visual-select{
  margin: 0 auto;
}
.visual-select ul{
  display: flex;
  display:-ms-flexbox;
  justify-content: center;
  -ms-flex-pack: center;
}
.visual-select ul li{
  margin: 0 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  text-indent: -9999px;
  cursor: pointer;
}
.visual-select .selected{
  background-color:rgba(18,39,74, .4);
}

/* メインコンテンツ項目共通の設定 */
.main-contents{
  display: flex;
  display:-ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  padding-right: 30px;
}
.main-contents section{
  position: relative;
  display: flex;
  display:-ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  width: 32%;
  margin-right: 1%;
  height: 500px;
  padding: 1rem;
  overflow: hidden;
}
.main-contents h2{
  position: relative;
  order: -2;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 14px;
}
.main-contents h2::before,
.main-contents h2::after{
  content: '';
  position: absolute;
  display: inline-block;
  top: 2.5rem;
  left: 0;
  width: 40%;
  border-bottom: 2px solid rgba(18,39,74);
}
.main-contents h2::after{
  left: 49%;
  width: 5%;
  border-bottom: 2px dotted rgba(18,39,74);
}
.main-contents > section::after{
  content: '';
  position: absolute;
  display: inline-block;
  top: 3.5rem;
  left: 1rem;
  width: 47%;
  border-bottom: 2px dashed rgba(18,39,74);
}
.main-contents > section:nth-child(2) .section-desc,
.main-contents > section:nth-child(5) .section-desc{
  order: -1;
}
.section-img-wrapper{
  position: relative;
  height: 45%;
  margin: 0 -10px;
  overflow: hidden;
}
.section-img{
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: .7s;
}
.section-img:hover{
  transform: scale(1.1);
  opacity: .7;
}
.section-img > a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.link-text{       /* jQueryで生成するp要素に付加する*/
  position: absolute;
  right: 10%;
  bottom: 10%;
  font-size: 1.6rem;
  color: #eee;
  letter-spacing: 2px;
}
.form-img > a > p{
  bottom: 5%;
}
.section-desc{
  position: relative;
  height: 45%;
  margin: 0 -10px;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: auto;
  border: 0.5px solid #ddd;
}
.main-contents > section:nth-child(2) .section-desc::after,
.main-contents > section:nth-child(5) .section-desc::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 18px;
  backdrop-filter: blur(6px);
}
.main-contents > section:nth-child(2) .section-desc.no-blur::after,
.main-contents > section:nth-child(5) .section-desc.no-blur::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  backdrop-filter: blur(0px);
}
.main-contents > section:nth-child(4),
.main-contents > section:nth-child(5),
.main-contents > section:nth-child(6){
  margin-top: 10px;
}

/* 各コンテンツビジュアル */
.member-list-img{
  background-image: url('../images/majid-rangraz-xZMghzq01UQ-unsplash.jpg');
  background-position: center 75%;
}
.rules-img{
  background-image: url('../images/watch-4638673_1920.jpg');
  /* background-position: center center; */
}
.system-img{
  background-image: url('../images/light-5083606_1920.jpg');
  background-position: center center;
}
.learning-img{
  background-image: url('../images/knowledge-1052010_1920.jpg');
  background-position: center top;
}
.form-img{
  background-image: url('../images/writing.jpg');
  /* background-position: center center; */
}
.tips-img{
  background-image: url('../images/light-bulb-1246043_1920.jpg');
  background-position: center center;
}


    /* メンバーリスト */
.member-list ul li:not(:last-child){
  border-bottom: 1px dotted rgba(18,39,74,.8);
}
.member-list ul li a{
  display: block;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s;
}
.member-list ul li a:hover{
  background-color:rgba(18,39,74);
  color: #fff;
  font-weight: bold;
  opacity: .7;
}
.member-img, .name, .position{
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1px;
}
.member-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image:url("../images/user.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 3px 22px 3px 12px;
  transition: .3s;
}
.member-list ul li:hover .member-img{
  transform: scale(1.2);
}
.name{
  width: 40%;
}
.position{
  width: 30%;
}

  /* メンバーリスト以外のコンテンツで共用の設定 */
.common-desc{
  padding: 10px;
}
.common-desc a{
  display: block;
  color: #666;
  transition: .3s;
}
.common-desc > ul a::before{
  content: '\f054';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  color: #666;
  font-size: 0.5rem;
  margin-right: 2px;
}
.common-desc > ul > li:not(:last-child) a{
  border-bottom: 1px dotted rgba(18,39,74,.8);
}
.common-desc > a{
  padding: 5px;
  margin-left: -5px;
  transition: .3s;
}
.common-desc > a,
.common-desc > h3{
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.common-desc > a:hover{
  transform: translateX(4px);
  color: #fff;
  background-color: rgba(18,39,74, .7);
}
.common-desc > a:hover::before{
  color: #fff;
}
.common-desc > h3{
  margin-top: 10px;
}
.common-desc > a::before,
.common-desc > h3::before{
  content: '\f0da';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 1.2rem;
  margin-right: 3px;
}
.common-desc > ul{
  margin-top: 5px;
}
.common-desc > ul > li a{
  margin: 0 12px;
  padding: 5px 3px;
  transition: .3s;
}
.common-desc > ul > li a:hover{
  transform: translateX(4px);
  color: #fff;
  background-color: rgba(18,39,74, .7);
}
.common-desc > ul > li a:hover::before{
  color: #fff;
}
.more a{
  width: 60px;
  text-align: center;
  padding: 3px;
  margin: 5px auto 15px;
  border-radius: 8px;
  background-color: rgba(18,39,74,.7);
  transition: .3s;
}
.more a{
  color: #ddd;
}
.more a:hover{
  background-color:#fff;
  color: rgba(18,39,74);
  box-shadow: 0 0 4px inset;
  transform: scale(1.2);
}

  /* 人事制度 */
.system-desc ul p{
  display: inline-block;
  margin: 0 8px 0 4px;
}
.before-icon::before{
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 1.2rem;
  margin-right: 0.5em;
}
.icon-manual::before{
  content: '\f02d'; /*Book*/
  font-size: 1rem;
  color: #666;
}
.icon-document::before{
  content: '\f15c'; /*file*/
  color: #666;
}
.system-desc > ul:not(:last-child) > li > a{
  display: inline-block;
}
.system-desc ul li a{
  margin: 0 8px;
}
.indent{
  margin-left: 12.5rem;
}
.system-desc .more{
  margin-bottom: 25px;
}
  /*ラーニング */
.learning-desc h3{
  font-size: 1.6rem;  /* 英語文字は小さく見えるのでここだけ修正 */
}
.section-desc span{
  margin-left: 1rem;
}

  /* 各種フォーム */

  /* 役立ち情報 */
.tips-desc{
  padding: 10px;
}
.tips-desc > a{
  display: block;
  padding: 5px;
  margin-left: -5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #333;
  font-weight: normal;
  transition: .3s;
}
.tips-desc > a:hover{
  transform: translateX(4px);
  color: #fff;
  background-color: rgba(18,39,74, .7);
}
.tips-desc > a:hover::before{
  color: #fff;
}
.icon-calendar::before{
  content: '\f073';   /*カレンダー*/
  padding-left: 2px;
}
.icon-seminar::before{
  content: '\f51c';  /*講義*/
  font-size: 1rem;
}
.icon-box::before{
  content: '\f468'; /*BOX*/
}
  /* サイド */
aside{
  margin-top: 10px;
}
aside > h2{
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  padding: 7.5px 0;
  background-color: rgba(18,39,74,.8);
  color: #fff;
}
.news-list-wrapper{
  width: 100%;
  height: 650px;
  background-image: url('../images/paper-fibers.png');
  background-repeat: repeat;
}
.news-list{
  width: 100%;
  height: 100%;
  padding: 3%;
}
.news-item > a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 0;
  overflow: auto;
  white-space: nowrap;
  transition: .3s;
}
.news-item > a:hover{
  opacity: .6;
  font-weight: bold;
  box-shadow: 0px 3px #333;
}
.news-item:not(:last-child) > a{
  border-bottom: 1px dotted #666;
}
.news-item-header{
  display: flex;
  display:-ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  padding-bottom: 8px;
}
.news-item-header > time{
  font-size: 1.4rem;
}
.news-categories{
  display: inline-flex;
  display: -ms-inline-flexbox;
  justify-content: center;
  -ms-flex-pack: center;
}
.news-category{
  width: 45px;
  text-align: center;
  padding: 3px;
  color: #fff;
}
.news-category[data="learning"]{
  background-color: rgb(100,40,40);
}
.news-category[data="system"]{
  background-color: #666;
}
.news-category[data="rules"]{
  background-color: rgb(80,80,180);
}
.news-category[data="news"]{
  background-color:rgba(18,39,74);
}
.news-desc{
  padding-left: 10px;
  font-size: 1.1rem;
  color: #666;
}

/* フッタ */
footer{
  background-color: rgba(18,39,74, .7);
  color: #eee;
  letter-spacing: 1.5px;
}
.footer-wrapper{
  position: relative;
  margin: 0 auto;
}
.upper-footer > ul{
  display: flex;
  display:-ms-flexbox;
  justify-content: flex-end;
  -ms-flex-pack: end;
  text-align: center;
  margin: 8px 30px 0 0;
  opacity: 0.7;
}
.upper-footer > ul > li{
  padding-right: 8px;
}
.upper-footer > ul > li:not(:first-of-type)::before{
  content: '/';
  display: inline-block;
  margin-right: 8px;
}
.upper-footer > ul > li > a{
  position: relative;
  display: inline-block;
  color: #eee;
}
.upper-footer > ul > li > a::after{
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  display: inline-block;
  border-bottom: 2px solid #ccc;
  width: 100%;
  transform: scale(0);
  transition:  .3s;
}
.upper-footer > ul > li > a:hover::after{
  transform: scale(1);
}
.lower-footer{
  margin-top: 32px;
  text-align: center;
}

/* ダークモードon/offスイッチ */
.btn-on-off-wrapper{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 12px;
  height: 24px;
  width: 53px;
  opacity: .7;
}
.btn-on-off {
  position: relative;
  line-height: 24px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0;
  width: 100%;
}
.btn-on-off input[type="checkbox"] {
  display: none;
}
.btn-on-off label {
  display: inline-block;
  height: 24px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 12px;
}
.btn-on-off input[type="checkbox"]:checked ~ label {
  border-color: #333333;
}
.btn-on-off label span::after{
  content: "ON";
  letter-spacing: 1px;
  padding-left: 18px;
  color: #eee;
}
.btn-on-off input[type="checkbox"]:checked ~ label span::after{
  content: "OFF";
  padding: 0 18px 0 0;
  color: #333333;
}
.switch-img {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: #eee;
  border-radius: 50%;
  transition: .2s;
}
.btn-on-off input[type="checkbox"]:checked ~ .switch-img {
  transform: translateX(29px);
  background: #333333;
}
.btn-on-off input[type="checkbox"]:checked ~ p{
  color: #333;
  font-weight: bold;
}

/* 言語選択ボタン */
.lang-select-wrapper{
  top: 0;
  left: 76px;
}
.lang-select label{
  border-radius: 0%;
}
.lang-select input[type="checkbox"]:checked ~ label {
  border-color: #eee;
}
.lang-select label span::before{
  content: "JPN";
  color: #333;
  padding-right: 3px;
  font-weight: bold;
}
.lang-select label span::after{
  content: "ENG";
  padding-left: 6px;
  color: #eee;
  font-weight: normal;
  letter-spacing: 0px;
}
.lang-select input[type="checkbox"]:checked ~ label span::before{
  color: #eee;
  font-weight: normal;
}
.lang-select input[type="checkbox"]:checked ~ label span::after{
  content: "ENG";
  padding: 0 0 0 6px;
  color: #333;
  font-weight: bold;
}
.lang-select .switch-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 25.5px;
  height: 24px;
  background: #eee;
  border-radius: 0%;
  transition: .2s;
}
.lang-select input[type="checkbox"]:checked ~ .switch-img {
  transform: translateX(26.5px);
  background: #eee;
}
.lang-select input[type="checkbox"]:checked ~ p{
  color: #eee;
  font-weight: normal;
}

/* JS用表示設定 */
.starting{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}


/* HACK: IEのみ適用*/
_:-ms-lang(x)::-ms-backdrop, .starting{
  display: none;
}
@media all and (-ms-high-contrast: none){
  .starting{
    display: none;
  }
}
