@charset "UTF-8";

/* 全体設定 */
html{
  font-size: 62.5%;
}
body{
  color: #333;
  font-family: 'Didact Gothic', sans-serif;
}
a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #333;
}
*, *::before, *::after{
  box-sizing: border-box;
}

/* 全体レイアウト */
body{
  display: flex;    /*IE対応のための親要素flex設定(min-heightの適用)*/
  display:-ms-flexbox;
}
.flex-wrapper{
  display: flex;
  display:-ms-flexbox;
  flex-direction: column;
  -ms-flex-direction:column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}
main{
  display: flex;
  display:-ms-flexbox;
  width: 100vw;
  max-width: 1368px;
  flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  padding: 0 15px;
  margin: 0 auto 30px;
}
.main-contents{
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  height: 100%;
}
aside{
  width: 300px;
  height: 100%;
}
footer{
  height: 80px;
}

/* ヘッダ */
header{
  position: relative;
  border-bottom: 1px solid #ccc;
}
.header-wrapper{
  display: flex;
  display:-ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -ms-flex-align: center;
  margin: 0 auto;
  max-width: 1280px;
}
.title{
  margin: 10px 0 10px 50px;
  text-align: center;
}
.title > span{
  font-size: 4rem;
  letter-spacing: 2px;
}
.title > p{
  margin: 3px 0;
}
.global-nav{
  margin: 20px 80px 20px 0;
}
.global-nav > ul{
  display: flex;
  display:-ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  text-align: center;
}
.global-nav > ul > li{
  margin: 0 16px;
  font-size: 1.2rem;
  /* font-family: 'Concert One', cursive; */
  letter-spacing: 1.5px;
  font-weight: bold;
}
.global-nav > ul > li > a{
  position: relative;
  display: block;
  padding: 5px;
}
.global-nav > ul > li > a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  border-bottom: 2px solid rgba(18,39,74,.7);
  width: 100%;
  transform: scale(0);
  transition: .4s;
}
.global-nav > ul > li > a:hover::after{
  transform: scale(1);
}
.contact-list{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 69.14px;
  background-color: rgba(18,39,74,.8);
}
.contact-list a{
  display: block;
  width: 100%;
  height: 50%;
  line-height: 43px;
  letter-spacing: 1px;
  padding: 0  10px;
  color: #fff;
  transition: .3s;
}
.contact-list a:hover{
  background-color:#fff;
  color: rgba(18,39,74);
  box-shadow: 0 0 4px inset;
}
.contact-list a:first-child{
  border-bottom: 1px solid;
}
.contact-list a span{
  margin-right: 3px;
}
.contact-list a:first-child span{
  margin-right: 5px;
}

/* メインビジュアル */
.main-visual{
  margin-bottom: 20px;
}
.slide-wrapper{
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
}
.slide-wrapper ul{
  width: 100%;
  height: 100%;
}
.slide-wrapper ul li{
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1{
  background-color: gray;
}
.slide2{
  background-color:lightskyblue;
}
.slide3{
  background-color:purple;
}
.slide4{
  background-color:palevioletred;
}
.slide5{
  background-color: orange;
}
.visual-select{
  margin: 0 auto;
}
.visual-select ul{
  display: flex;
  display:-ms-flexbox;
  justify-content: center;
  -ms-flex-pack: center;
}
.visual-select ul li{
  margin: 0 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  text-indent: -9999px;
  cursor: pointer;
}
.visual-select .selected{
  background-color:rgba(18,39,74, .7);
}

/* メインコンテンツ */
.main-contents{
  display: flex;
  display:-ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  padding-right: 30px;
}
.main-contents section{
  display: flex;
  display:-ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  width: 33%;
  height: 500px;
  padding: 10px;
}
.main-contents h2{
  order: -2;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.main-contents h2::after{
  content: '';
  display: block;
  margin-top: 5px;
  width: 45%;
  border-bottom: 1px solid #000;
}
.main-contents > section:nth-child(2) .section-desc,
.main-contents > section:nth-child(5) .section-desc{
  order: -1;
}
.section-img{
  height: 45%;
  background-color: rgba(240,240,240, .7);
}
.section-desc{
  height: 45%;
  overflow: hidden;
  overflow-y: auto;
}

    /* メンバーリスト */
.member-list ul li:nth-child(even){
  background-color:rgba(18,39,74, .1);
}
.member-list ul li a{
  display: block;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .4s;
}
.member-list ul li a:hover{
  background-color:rgba(18,39,74);
  color: #fff;
  font-weight: bold;
  opacity: .7;
}
.member-img, .name, .position{
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1px;
}
.member-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: skyblue;
  margin: 3px 22px 3px 12px;
}
.name{
  width: 40%;
}
.position{
  width: 30%;
}



/* サイド */
aside{
  margin: 10px;
}
aside > h2{
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  padding: 7.5px 0;
  background-color: rgba(18,39,74,.8);
  color: #fff;
}
.news-list{
  width: 100%;
  height: 500px;
}


/* フッタ */
footer{
  background-color: rgba(18,39,74, .7);
  color: #ccc;
}
.footer-wrapper{
  margin: 0 auto;
}
.upper-header > ul{
  display: flex;
  display:-ms-flexbox;
  justify-content: flex-end;
  -ms-flex-pack: end;
  text-align: center;
  margin: 8px 30px 0 0;
  opacity: 0.7;
}
.upper-header > ul > li{
  padding-right: 8px;
}
.upper-header > ul > li:not(:first-of-type)::before{
  content: '/';
  display: inline-block;
  margin-right: 8px;
}
.upper-header > ul > li > a{
  position: relative;
  display: inline-block;
  color: #ccc;
}
.upper-header > ul > li > a::after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  display: inline-block;
  border-bottom: 1px solid #ccc;
  width: 100%;
  transform: scale(0);
  transition: .4s;
}
.upper-header > ul > li > a:hover::after{
  transform: scale(1);
}

.lower-header{
  margin-top: 32px;
  text-align: center;
}
