@charset "UTF-8";
/* 固定ページの設定をするCSS */

/* 各種固定ページの設定 */
.pages-main{
  display: block;                   /* style.cssのmainタグ flex設定を解除する */
}
.page-title-wrapper{
  position: relative;
  height: 180px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-title-wrapper::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(50,50,50, .4);
}
.page-title{
  position: relative;
  top: 44%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 30px;
  color: #eee;
}
.page-title::before{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 4rem;
  border-bottom: 3px solid currentColor;
  opacity: .7;
}
.page-title::after{
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  border-bottom: 3px solid currentColor;
  opacity: .7;
}
.page-wrapper{
  width: 100%;
  margin: 0 auto;
  padding: 30px 84px;
}
.contents-wrapper{
  display: flex;
  display:-ms-flexbox;
}
.contents-wrapper > section{
  padding: 15px;
  border-left: 1px solid #ccc;
}
.contents-wrapper > section:last-child{
  border-right: 1px solid #ccc;
}
.section-title{
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.section-title > a{
  display: inline-block;
  width: 75%;
  padding: 0.5rem 0;
  transition: .3s;
}
.contents-wrapper > section > ul > li{
  font-size: 1.4rem;
  margin-left: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contents-wrapper > section > ul > li:last-child{
  margin-bottom: 20px;
}
.contents-wrapper > section > ul > li > a{
  display: inline-block;
  width: 70%;
  padding: 0.75rem 0;
  border-bottom: 1px dotted #ccc;
  transition: .3s;
}
.section-title > a::before,
.contents-wrapper > section > ul > li > a::before{
  content: '\f0da';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 1.5rem;
  padding-left: 3px;
  margin-right: 6px;
}
.section-title > a:hover,
.contents-wrapper > section > ul > li > a:hover{
  background-color: rgba(18,39,74, .7);
  color: #fff;
}

  /*規則規定ページ*/
.page-title-rules{
  background-image: url('../images/banner_sunlight.jpg');
}
.rules-content{
  width: 33%;
}
.rules-content:nth-child(2){
  width: 34%;
}
.rules-content:not(:first-child) .section-title{
  padding-top: 5px;
}
  /*人事制度ページ*/
.page-title-system{
  background-image: url('../images/sunrise-1756274.jpg');
  background-position: left 31%;
}
.pages-main hr{
  border: none;
  border-bottom: 1px solid #ccc;
}
.system-content{
  width: 50%;
}
.system-content > h2{
  text-align: center;
}
.system-content > h3{
  margin-left: 10rem;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.system-list{
  width: 50%;
  margin: 0 auto;
}
.system-wrapper .system-content .system-list > li{
  margin-left: 0;
}
.system-wrapper .system-content .system-list > li > a{
  width: 100%;
}
.tp-wrapper{
  width: 100%;
  padding: 30px 84px;
  margin: 0 auto;
}
.tp-contents{
  width: 100%;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.tp-contents h2{
  text-align: center;
}
.tp-contents > .system-content{
  width: 100%;
}
.tp-contents ul{
  width: 30%;
  margin: 0 auto;
}
.tp-contents li{
  font-size: 1.4rem;
}
.tp-contents a{
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px dotted #ccc;
  transition: .3s;
}
.tp-contents a::before{
  content: '\f0da';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 1.5rem;
  padding-left: 3px;
  margin-right: 6px;
}
.tp-contents a:hover{
  background-color: rgba(18,39,74, .7);
  color: #fff;
}
.tp-contents a > span{
  margin-left: 10px;;
}

/* ダークモードon/offスイッチ */
.btn-on-off-wrapper{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 12px;
  height: 24px;
  width: 53px;
  opacity: .7;
}
.btn-on-off {
  position: relative;
  line-height: 24px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0;
  width: 100%;
}
.btn-on-off input[type="checkbox"] {
  display: none;
}
.btn-on-off label {
  display: inline-block;
  height: 24px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 12px;
}
.btn-on-off input[type="checkbox"]:checked ~ label {
  /* border-color: #333; */
}
.btn-on-off label span::after{
  content: "ON";
  letter-spacing: 1px;
  padding-left: 18px;
  color: #eee;
}
.btn-on-off input[type="checkbox"]:checked ~ label span::after{
  content: "OFF";
  padding: 0 18px 0 0;
  /* color: #333; */
}
.switch-img {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: #eee;
  border-radius: 50%;
  transition: .2s;
}
.btn-on-off input[type="checkbox"]:checked ~ .switch-img {
  transform: translateX(29px);
  /* background: #333; */
}
.btn-on-off input[type="checkbox"]:checked ~ p{
  /* color: #333; */
  font-weight: bold;
}

/* 言語選択ボタン */
.lang-select-wrapper{
  top: 0;
  left: 76px;
}
.lang-select label{
  border-radius: 0%;
}
.lang-select input[type="checkbox"]:checked ~ label {
  border-color: #eee;
}
.lang-select label span::before{
  content: "JPN";
  color: #333;
  padding-right: 3px;
  font-weight: bold;
}
.lang-select label span::after{
  content: "ENG";
  padding-left: 6px;
  color: #eee;
  font-weight: normal;
  letter-spacing: 0px;
}
.lang-select input[type="checkbox"]:checked ~ label span::before{
  color: #eee;
  font-weight: normal;
}
.lang-select input[type="checkbox"]:checked ~ label span::after{
  content: "ENG";
  padding: 0 0 0 6px;
  color: #333;
  font-weight: bold;
}
.lang-select .switch-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 25.5px;
  height: 24px;
  background: #eee;
  border-radius: 0%;
  transition: .2s;
}
.lang-select input[type="checkbox"]:checked ~ .switch-img {
  transform: translateX(26.5px);
  background: #eee;
}
.lang-select input[type="checkbox"]:checked ~ p{
  color: #eee;
  font-weight: normal;
}


/* JS用表示設定 */
.starting-page{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* HACK: IEのみ適用*/
_:-ms-lang(x)::-ms-backdrop, .starting-page{
  display: none;
}
@media all and (-ms-high-contrast: none){
  .starting-page{
    display: none;
  }
}

/* ダークモードの設定 */
.dark-mode .page-title-wrapper{
  border: unset;
}
.dark-mode .page-title-wrapper::after{
  background-color: rgba(30,30,30, .7);
}
.dark-mode .section-title > a:hover,
.dark-mode .contents-wrapper > section > ul > li > a:hover,
.tp-contents a:hover{
  background-color: #666;
}

/*レスポンシブ設定*/
@media screen and (max-width : 600px){
  .page-title-wrapper{
    margin-top: 74px;   /*ヘッダ固定分をマージンで確保*/
  }
  .pages-main{
    margin-bottom: 80px; /*フッタ固定分をマージンで確保*/
  }
  .page-wrapper{
    padding-left: 0;
    padding-right: 0;
  }
  .contents-wrapper{
    flex-direction: column;
    -ms-flex-direction:column;
  }
  
  .rules-content,
  .rules-content:nth-child(2){
    width: 100%;
  }
  .system-content{
    width: 100%;
    margin-bottom: 45px;
  }
  .system-content > h3{
    margin-left: 5rem;
    width: 65%;
  }
  .contents-wrapper > section{
    padding: 5px;
    border-right: 1px solid #ccc;
  }
  .rules-content:first-child > .section-title:first-child{
    text-align: left;
  }
  .rules-list{
    margin-bottom: 30px;
  }
  .section-title > a{
    margin-left: 30px;
  }
  .section-title{
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .pages-main hr{
    margin-bottom: 60px;
  }
  .rules-list{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .system-list{
    width: 65%;
  }
  .tp-wrapper{
    padding: 0;
  }
  .tp-contents ul{
    width: 50%;
  }
  .btn-on-off-wrapper{
    top: 10px;
    left: 50%;
  }
  .btn-on-off-wrapper{
    transform: translateX(-105%);
  }
  .lang-select-wrapper{
    transform: translateX(5%);
  }
}