@charset "UTF-8";
@import "variables";
$base-color: rgb(18,39,74);

/* メインビジュアル(スライドショー) */
.slide{
  margin-bottom: 32px;
  &-wrapper{
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
  }
  &-list{
    width: 100%;
    height: 100%;
  }
  &-item{
    position: absolute;
    width: 100%;
    height: 100%;
    &:nth-child(1){
      @include bg-img($main-slide1, 0%, 22%);
    }
    &:nth-child(2){
      @include bg-img($main-slide2, 0%, 36%);
    }
    &:nth-child(3){
      @include bg-img($main-slide3, 0%, 50%);
    }
    &:nth-child(4){
      @include bg-img($main-slide4, 0%, 50%);
    }
    &:nth-child(5){
      @include bg-img($main-slide5, 0%, 42%);
    }
  }
  &-select{
    margin: 0 auto;
    ul{
      display: flex;
      justify-content: center;
      li{
        margin: 0 8px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ddd;
        text-indent: -9999px;
        cursor: pointer;
      }
    }
    .selected{
      background-color:rgba($base-color, .4);
    }
  }
}

/* メインコンテンツ項目共通の設定 */
.main-contents{
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
}
.section{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-right: 1%;
  height: 500px;
  padding: 1rem;
  overflow: hidden;
  &:nth-child(2),&:nth-child(5){
    .section-desc{
      order: -1;
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 18px;
        backdrop-filter: blur(6px);
      }
      &.no-blur::after{
        backdrop-filter: blur(0px);
      }
    }
  }
  &:nth-child(4),&:nth-child(5),&:nth-child(6){
    margin-top: 10px;
  }
  &-title{
    position: relative;
    order: -2;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 14px;
    &::before,&::after{
      content: '';
      position: absolute;
      display: inline-block;
      top: 2.5rem;
      left: 0;
      width: 40%;
      border-bottom: 2px solid $base-color;
    }
    &::after{
      left: 49%;
      width: 5%;
      border-bottom: 2px dotted $base-color;
    }
  }
  &::after{
    content: '';
    position: absolute;
    display: inline-block;
    top: 3.5rem;
    left: 1rem;
    width: 47%;
    border-bottom: 2px dashed $base-color;
  }
  &-img-wrapper{
    position: relative;
    height: 45%;
    margin: 0 -10px;
    overflow: hidden;
  }
  &-img{
    height: 100%;
    transition: .7s;
    &:hover{
      transform: scale(1.1);
      opacity: .7;
    }
    > a{
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
  &-desc{
    position: relative;
    height: 45%;
    margin: 0 -10px;
    overflow: hidden;
    overflow-y: auto;
    border: 0.5px solid #ddd;
  }
}   /* .section */

    .link-text{       /* jQueryで生成するp要素に付加する*/
      position: absolute;
      right: 10%;
      bottom: 10%;
      font-size: 1.6rem;
      color: #eee;
      letter-spacing: 2px;
    }
    .form-img > a > p{
      bottom: 5%;
    }

/* 各コンテンツビジュアル */
.member-img{
  @include bg-img($member-img, 50%,75%);
}
.rules-img{
  @include bg-img($rules-img);
}
.system-img{
  @include bg-img($system-img);
}
.learning-img{
  @include bg-img($learning-img, 50%,0%);
}
.form-img{
  @include bg-img($form-img);
}
.tips-img{
  @include bg-img($tips-img, 65%,50%);
}


/* メンバーリスト */
.member{
  &-item{
    &:not(:last-child){
      border-bottom: 1px dotted rgba($base-color,.8);
    }
    a{
      display: block;
      height: 36px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: .3s;
      &:hover{
        background-color:$base-color;
        color: #fff;
        font-weight: bold;
        opacity: .7;
      }
    }
    &:hover .member-photo{
      transform: scale(1.2);
    }
    // メンバー写真取り込み時に使用
    // $number:1;
    // @while $number <= 12{
    //   &:nth-of-type(#{$number}){
    //     .member-photo{
    //       @include bg-img('../images/memberphotos/#{$number}');
    //     }
    //   }
    // $number: $number + 1; 
    // }

  }
  &-photo, &-name, &-post{
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
  }
  &-photo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image:url("../images/user.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 3px 22px 3px 12px;
    transition: .3s;
  }
  &-name{
    width: 40%;
  }
  &-post{
    width: 30%;
  }
}

  /* メンバーリスト以外のコンテンツで共用の設定 */
.common{
  &-desc{
    padding: 10px;
    a{
      display: block;
      color: #666;
      transition: .3s;
    }
  }
  &-list{
    margin-top: 5px;
    a::before{
      content: '\f054';
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      font-weight: 900;
      color: #666;
      font-size: 0.5rem;
      margin-right: 2px;
    }
  }
  &-item{
    a{
      margin: 0 12px;
      padding: 5px 3px;
      transition: .3s;
      border-bottom: 1px dotted rgba($base-color,.8);
      &:hover{
        transform: translateX(4px);
        color: #fff;
        background-color: rgba($base-color, .7);
        &::before{
          color: #fff;
        }
      }
    }
  }
  &-subtitle{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    &::before{
      content: '\f0da';
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      font-weight: 900;
      font-size: 1.2rem;
      margin-right: 3px;
    }
    &_link{
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
      padding: 5px;
      margin-left: -5px;
      transition: .3s;
      &:before{
        content: '\f0da';
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        font-weight: 900;
        font-size: 1.2rem;
        margin-right: 3px;
      }
      &:hover{
        transform: translateX(4px);
        color: #fff;
        background-color: rgba($base-color, .7);
        &::before{
          color: #fff;
        }
      }
    }
  }
}


.more{
  a{
    width: 60px;
    text-align: center;
    padding: 3px;
    margin: 5px auto 15px;
    color: #ddd;
    border-radius: 8px;
    letter-spacing: 1px;
    background-color: rgba($base-color,.7);
    transition: .3s;
    &:hover{
      background-color:#fff;
      color: $base-color;
      box-shadow: 0 0 4px inset;
      transform: scale(1.2);
    }
  }
}


  /* 人事制度 */
.system{
  &-desc{
    .more{
      margin-bottom: 25px;
    }
  }
  &-list{
    &:not(:last-child) .system-item > a{
      display: inline-block;
    }
  }
  &-item{
    > p{
      display: inline-block;
      margin: 0 8px 0 4px;
    }
    a{
      margin: 0 8px;
    }
  }
}
.indent{
  margin-left: 50%;
}

  /*ラーニング */
.learning-subtitle{
  font-size: 1.6rem;  /* 英語文字は小さく見えるのでここだけ修正 */
}
  /* 役立ち情報 */
.tips{
  &-desc{
    padding: 10px;
  }
  &-item{
    display: block;
    padding: 5px;
    margin-left: -5px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #333;
    font-weight: normal;
    transition: .3s;
    &:hover{
      transform: translateX(4px);
      color: #fff;
      background-color: rgba($base-color, .7);
      ::before{
        color: #fff;
      }
    }
  }
}



  /* サイド */
.aside{
  margin-top: 10px;
  &-title{
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    padding: 7.5px 0;
    background-color: rgba($base-color,.8);
    color: #fff;
    border: 1px solid rgba($base-color,.8);
  }
}
.news{
  width: 100%;
  height: 650px;
  background-image: url('../images/paper-fibers.png');
  background-repeat: repeat;
  &-list{
    width: 100%;
    height: 100%;
    padding: 3%;
  }
  &-item{
    > a{
      display: block;
      width: 100%;
      height: 100%;
      padding: 12px 0;
      transition: .3s;
      line-height: 1.5;
      &:hover{
        opacity: .6;
        font-weight: bold;
        box-shadow: 0px 3px #333;
      }
    }
    &:not(:last-child) > a{
      border-bottom: 1px dotted #666;
    }
    &-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 8px;
      > time{
        font-size: 1.4rem;
      }
    }
    &-list{
      display: inline-flex;
      justify-content: center;
    }
    &-cat{
      width: 45px;
      text-align: center;
      padding: 3px;
      color: #fff;
      &[data="learning"]{
        background-color: rgb(100,40,40);
      }
      &[data="system"]{
        background-color: #666;
      }
      &[data="rules"]{
        background-color: rgb(80,80,180);
      }
      &[data="news"]{
        background-color:$base-color;
      }
    }
    &-desc{
      padding-left: 10px;
      font-size: 1.1rem;
      color: #666;
    }
  }
}
.consultation-btn{
  width: 65%;
  height: 60px;
  margin: 60px auto 0;
  &-desc{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    line-height: 60px;
    color: #eee !important;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: rgba($base-color, .7);
    transition: .3s;
    &:hover{
      background-color: #fff;
      border-color: rgba($base-color, .7);
      color: rgba($base-color, .7) !important;
    }
  }
  span{
    margin-left: 12px;
  }
}

/* レスポンシブ対応 */
@media screen and (max-width : $breakpoint-tb){ /*タブレットなど*/
  .aside{
    width: 300px;
  }
  .section{
    width: 48%;   /*ラップさせることでメインコンテンツのカラムを減らす*/
  }
  .section:nth-child(2) .section-desc,
  .section:nth-child(5) .section-desc{
    order: unset;   /* imgとdescの入れ替えを解除 */
  }
  .section:nth-child(4),
  .section:nth-child(5),
  .section:nth-child(6){
    margin-top: 0;
  }
  .section:nth-child(odd){
    margin-right: 2%;
  }
}
@media screen and (max-width : $breakpoint-sp){ /*スマホ対応*/
  .slide{
    margin-top: 74px;   /*ヘッダ固定分をマージンで確保*/
    &-wrapper{
      height: 280px;
    }
  }
  .main{
    flex-direction: column;
    &-contents{
      width: 100%;
      height: unset;
      padding: 0px;
    }
  }
  .section{
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
    height: 200px;
    &:nth-child(odd){
      margin-right: 0px;    /*1024px以下の設定の打ち消し*/
    }
    &:nth-child(4), &:nth-child(5), &:nth-child(6){
      margin-top: 0;
    }
    &:nth-child(2), &:nth-child(5){
      .section-desc{
        order: unset;
        &::after,&.no-blur::after{
          width: 0;
        }
      }
    }
    &::after{
      width: 0;
    }
    &-title{
      margin-bottom: 8px;
      &::before, &::after{
        width: 0;
      }
    }
    &-img-wrapper{
      display: none;
      height: 0;
    }
    &-desc{
      height: 100%;
      border: none;
      background-image: url('../images/paper-fibers.png');
      background-repeat: repeat;
    }
  }
  
  .dark-mode .section-desc{
    background-image: none;
    border: 1px solid #ccc;
  }
  .aside{
    width: 100%;
    height: unset;
    margin-bottom: 80px;
  }
  .news-list-wrapper{
    height: 400px;
  }
}