@charset "UTF-8";
@import "variables";
@import "common";
$base-color: rgb(18,39,74);

/* 各種固定ページの設定 */

/* 共通設定 */
.page-title-wrapper{
  position: relative;
  height: 180px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  &::after{
    @include mask-img;
    opacity: .5;
  }
  // 各ページのタイトル背景画像の設定
  &._members{
    @include bg-img('../images/old-1130731_1920.jpg',50%,80%);
  }
  &._rules{
    @include bg-img('../images/banner_sunlight.jpg',50%,27%);
  }
  &._system{
    @include bg-img('../images/sunrise-1756274.jpg',0%,37%);
  }
  &._learning{
    @include bg-img('../images/abstract-art-blur-bokeh-544917.jpg');
  }
  &._form{
    @include bg-img('../images/working.jpg',0%,100%);
    background-attachment: fixed;
  }
  &._tips{
    @include bg-img('../images/network-3537401_1920.jpg');
  }
}

.page-title{
  position: relative;
  top: 44%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 30px;
  color: #eee;
  &::before,&::after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    border-bottom: 3px solid currentColor;
    opacity: .7;
  }
  &::after{
    bottom: -25px;
    width: 5rem;
  }
}
.pages-main{
  display: block;                   // common.cssのmainタグ flex設定を解除する
}

.page{
  &-container{
    width: 100%;
    margin: 0 auto;
    padding: 30px 84px;
  }
  &-wrapper{
    width: 100%;
    display: flex;
  }
  &-content{
    padding: 15px;
    border-left: 1px solid #ccc;
    &:last-child{
      border-right: 1px solid #ccc;
    }
    &-title{
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 3px;
      text-align: center;
      margin-bottom: 32px;
      > a{
        display: inline-block;
        width: 75%;
        padding: 0.5rem 0;
        transition: .3s;
      }
    }
    &-subtitle{
      font-size: 1.4rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
    &-list{
      margin-bottom: 32px;
    }
    &-item{
      font-size: 1.4rem;
      letter-spacing: 1px;
      margin-left: 30px;
      > a{
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0.75rem 0.5rem;
        border-bottom: 1px dotted #ccc;
        transition: .3s;
        > span{
          margin-left: 10px;;
        }
      }
    }
    &-title > a::before, &-item > a::before{
      content: '\f0da';
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      font-weight: 900;
      font-size: 1.5rem;
      padding-left: 3px;
      margin-right: 6px;
    }
    &-title > a:hover, &-item > a:hover{
      background-color: rgba(18,39,74, .7);
      color: #fff;
    }
  }
}


  /*メンバー紹介ページ*/
.member-wrapper{
  display: block;
}
.member-content{
  width: 100%;
  height: 280px;
  padding: 50px 0;
  display: flex;
  border-top: 1px solid #ccc;
  &-img{
    width: 170px;
    height: 170px;
    border-radius: 10%;
    background-color: #eee;
    margin-left: 5%;
  }
  &-desc{
    position: relative;
    width: 66%;
    height: 100%;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 6%;
  }
  &-name{
    font-size: 1.8rem;
    letter-spacing: 7px;
    padding-bottom: 12px;
    &.en{
      font-size: 2.4rem;
      letter-spacing: 3px;
    }
  }
  &-post{
    font-size: 1.4rem;
    padding-bottom: 18px;
  }
  &-work{
    font-size: 1.2rem;
    padding-bottom: 8px;
    padding-left: 5px;
  }
  &-work-text{
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 25px;
    padding-left: 2em;
  }
  &-contact{
    &-wrapper{
      position: absolute;
      bottom: 0;
      right: 0;
    }
    letter-spacing: 1px;
    padding-bottom: 8px;
    > a{
      display: inline-block;
      width: 60px;
      height: 25px;
      text-align: center;
      color: #fff;
      line-height: 23px;
      border: 1px solid transparent;
      border-radius: 5px;
      transition: .3s;
      &:hover{
        background-color: #fff;
        color: $base-color;
        border-color: $base-color;
        opacity: .8;
      }
    }
    &-mail{
      margin-right: 3px;
      background-color: $base-color;
    }
    &-teams{
      background-color: #5558AF;
    }
  }
  &-tel{
    letter-spacing: 1px;
  }

  /*偶数順のコンテンツの配置*/
  // &:nth-child(even){
  //   .member-content-img{
  //     order: 1;
  //     margin-left: 6.5%;
  //   }
  //   .member-content-desc{
  //     margin-left: 5%;
  //   }
  //   .member-content-contact-wrapper{
  //     left: 0;
  //   }
  // }
}


  /*規則規定ページ*/
.rules-content{
  width: 31.5%;
  &:nth-child(2){
    width: 37%;
  }
  &:not(:first-child) .page-content-title{
    padding-top: 5px;
  }
}
.rules-list{
  .page-content-item > a{
    width: 92%;
  }
}


  /*人事制度ページ*/
.system-wrapper{
  flex-wrap: wrap;
}
.system-content{
  width: 50%;
  .system-list{
    margin-left: 20%;
  }
  &:not(:last-child){
    margin-bottom: 45px;
  }
  &:nth-child(2){
    border-right: 1px solid #ccc;
  }
  &:last-child{
    width: 100%;
    .system-list{
      margin-left: 34%;
    }
  }
}

// 各種フォームのページ
.form-content{
  width: 50%;
  .form-list{
    margin-left: 16%;
    margin-bottom: 54px;
  }
}




/*レスポンシブ設定*/
@media screen and (max-width : $breakpoint-tb){
  .page-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-content-item{
    margin-left: 15px;
    font-size: 1.3rem;
  }
  .system-content{
    .system-list,
    &:last-child .system-list{
      margin-left: 3%;
    }
  }
}
@media screen and (max-width : $breakpoint-sp){
  .page-title-wrapper{
    margin-top: 74px;   /*ヘッダ固定分をマージンで確保*/
  }
  .pages-main{
    margin-bottom: 80px; /*フッタ固定分をマージンで確保*/
  }
  .page{
    &-container{
      padding-left: 0;
      padding-right: 0;
    }
    &-wrapper{
      flex-direction: column;
    }
    &-content{
      width: 100%;
      &:nth-child(2){
        width: 100%;
      }
      padding: 5px;
      border-right: 1px solid #ccc;
      &-title{
        text-align: center;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
      }
      &-item{
        font-size: 1.2rem;
        letter-spacing: 0;
      }
    }
  }
  .system-content{
    width: 100%;
    margin-bottom: 45px;
    .system-list,
    &:last-child .system-list{
      margin-left: 13%;
    }
  }
  .system-list{
    width: 80%;
  }
  .rules-list{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .member-content{
    position: relative;
    display: block;
    &-img{
      position: absolute;
      top: 30px;
      right: 10px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 0;
    }
    &-desc{
      width: 80%;
      margin: 0 auto;
    }
  }
  .en.member-content-name{
    font-size: 2rem;
  }
}