@charset "UTF-8";
/* 共通ベーススタイル */
html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "Didact Gothic", "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
  color: #333;
  text-decoration: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 一時的スタイル */
.prep {
  color: #ccc !important;
}

/* 部品のスタイル */
.material-icons {
  color: #888 !important;
}

/* 全体レイアウト */
.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* HACK: IE対応のための、親要素flex設定(flex-wrapperのmin-height適用のため)*/
  background-color: #fff;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
  max-width: 1230px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 15px;
  margin: 0 auto 30px;
}

.main-contents {
  width: 100%;
}

.aside {
  width: 100%;
  margin: 0 auto 40px;
}

.footer {
  height: 80px;
}

/* ヘッダ */
.header {
  position: relative;
  border-bottom: 1px solid #ccc;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-title {
  display: block;
  text-align: center;
  margin: 10px 0 10px 50px;
}

.site-title > h1 {
  font-size: 4.8rem;
  letter-spacing: 2px;
}

.site-title > p {
  margin: 3px 0;
}

.contact-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 69.14px;
  height: 100%;
  background-color: rgba(18, 39, 74, 0.8);
  z-index: 1;
}

.contact-btn > a {
  display: block;
  width: 100%;
  height: 50%;
  line-height: 47px;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #fff;
  padding: 0  10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact-btn > a:hover {
  background-color: #fff;
  color: #12274a;
  -webkit-box-shadow: 0 0 4px inset;
          box-shadow: 0 0 4px inset;
}

.contact-btn-email {
  border-bottom: 1px solid;
}

.contact-btn-email > span {
  margin-right: 5px;
}

.contact-btn-chat > span {
  margin-right: 3px;
}

.globalnav {
  margin: 20px 100px 20px 0;
}

.globalnav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.globalnav-item {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 16px;
}

.globalnav-item > a {
  position: relative;
  display: block;
  padding: 5px;
}

.globalnav-item > a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid currentColor;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .4s;
  transition: .4s;
}

.globalnav-item > a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*ハンバーガーメニューの設定(通常時は表示しない)*/
.nav-menu-switch {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.nav-menu-open,
.nav-menu-close {
  display: none;
}

.close-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: .25s;
  transition: .25s;
  opacity: 0;
  visibility: hidden;
}

/* フッタ */
.footer {
  background-color: rgba(18, 39, 74, 0.7);
  color: #eee;
  letter-spacing: 1.5px;
}

.footer-wrapper {
  position: relative;
  margin: 0 auto;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  margin: 8px 30px 0 0;
  opacity: 0.7;
}

.footer-nav-item {
  padding-right: 8px;
}

.footer-nav-item:not(:first-of-type)::before {
  content: '/';
  display: inline-block;
  margin-right: 8px;
}

.footer-nav-item > a {
  position: relative;
  display: inline-block;
  color: #eee;
}

.footer-nav-item > a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  display: inline-block;
  border-bottom: 2px solid #ccc;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
}

.footer-nav-item > a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer-lower {
  margin-top: 32px;
  text-align: center;
}

.before-icon::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 1.2rem;
  margin-right: 0.5em;
}

.icon-manual::before {
  content: '\f02d';
  /*Book*/
  font-size: 1rem;
  color: #666;
}

.icon-document::before {
  content: '\f15c';
  /*file*/
  color: #666;
}

.icon-calendar::before {
  content: '\f073';
  /*カレンダー*/
  padding-left: 2px;
}

.icon-seminar::before {
  content: '\f51c';
  /*講義*/
  font-size: 1rem;
}

.icon-box::before {
  content: '\f468';
  /*BOX*/
}

.icon-tags::before {
  content: '\f02c';
  margin-right: 0;
}

/* ダークモードon/offスイッチ */
.btn-on-off {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 12px;
  width: 53px;
  height: 24px;
  opacity: .7;
}

.btn-on-off-wrapper {
  position: relative;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0;
  width: 100%;
}

.btn-on-off-wrapper p {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 1;
  letter-spacing: 0.008em;
  white-space: nowrap;
}

.btn-on-off-checkbox {
  display: none;
}

.btn-on-off-checkbox:checked ~ label span::before {
  content: "OFF";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  letter-spacing: 1px;
  color: #eee;
}

.btn-on-off-checkbox:checked ~ label span::after {
  display: none;
}

.btn-on-off-checkbox:checked ~ .btn-on-off-img {
  -webkit-transform: translateX(29px);
          transform: translateX(29px);
}

.btn-on-off-checkbox:checked ~ p {
  font-weight: bold;
}

.btn-on-off-label {
  display: inline-block;
  width: 100%;
  height: 24px;
  border: 1px solid #eee;
  border-radius: 12px;
  cursor: pointer;
}

.btn-on-off-label span::after {
  content: "ON";
  position: absolute;
  top: 0;
  right: 30%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  letter-spacing: 1px;
  color: #eee;
}

.btn-on-off-img {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: #eee;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

/* 言語選択スイッチ */
.lang-select {
  top: 0;
  left: 76px;
}

.lang-select-label {
  border-radius: 0%;
}

.lang-select-label span::before {
  content: "JPN";
  position: absolute;
  top: 0;
  left: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #333;
  font-weight: bold;
}

.lang-select-label span:after {
  content: "ENG";
  position: absolute;
  top: 0;
  right: 25%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #eee;
  font-weight: normal;
  letter-spacing: 0px;
}

.lang-select-checkbox:checked ~ label {
  border-color: #eee;
}

.lang-select-checkbox:checked ~ label span::before {
  content: "JPN";
  color: #eee;
  left: -8%;
  font-weight: normal;
  letter-spacing: 0;
}

.lang-select-checkbox:checked ~ label span::after {
  content: "ENG";
  display: inline-block;
  right: 25%;
  color: #333;
  font-weight: bold;
}

.lang-select-checkbox:checked ~ .lang-select-img {
  -webkit-transform: translateX(27px);
          transform: translateX(27px);
  background: #eee;
}

.lang-select-checkbox:checked ~ p {
  color: #eee;
  font-weight: normal;
}

.lang-select-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 25.5px;
  height: 24px;
  background: #eee;
  border-radius: 0%;
  -webkit-transition: .2s;
  transition: .2s;
}

/*英語対応 (英語テキストにはhtmlでenとno-displayクラスをデフォルトで設定し、JSで制御する*/
.en {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.no-display {
  display: none !important;
  /*他のdisplayプロパティと競合するため*/
}

.system-item.en {
  white-space: normal;
}

/* レスポンシブ対応 */
@media screen and (max-width: 1024px) {
  /*タブレットなど*/
  .site-title {
    margin-left: 15px;
  }
  .globalnav-item {
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    margin: 0 9px;
  }
}

@media screen and (max-width: 600px) {
  /*スマホ対応*/
  .header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .header-wrapper {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-title {
    margin: 0;
  }
  .contact-btn a {
    line-height: 36.5px;
  }
  /*ハンバーガーメニューの設定*/
  .nav-menu-open, .nav-menu-close {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 3rem;
    cursor: pointer;
  }
  .nav-menu-close {
    display: none;
  }
  .nav-menu-switch:checked ~ .globalnav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-menu-switch:checked ~ .close-modal {
    opacity: 1;
    visibility: visible;
  }
  .nav-menu-switch:checked ~ .nav-menu-close {
    display: inline-block;
    z-index: 1500;
  }
  .nav-menu-switch:checked ~ .nav-menu-open {
    display: none;
  }
  .globalnav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    height: 100vh;
    width: 50%;
    -webkit-transition: .25s;
    transition: .25s;
  }
  .globalnav-list {
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .globalnav-item {
    margin: 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 4px #ccc;
            box-shadow: 0 2px 4px #ccc;
  }
  .globalnav-item > a {
    padding: 20px 0;
  }
  .globalnav-item > a::after {
    display: none;
  }
  /*ハンバーガーメニューここまで*/
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    height: 80px;
    width: 100%;
  }
  .footer-upper {
    display: none;
  }
  .footer-lower {
    position: absolute;
    bottom: -75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0;
    white-space: nowrap;
  }
  .btn-on-off {
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  .lang-select {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
  }
}

.starting {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: fade-out 1.0s .3s linear;
          animation: fade-out 1.0s .3s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes show-text-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-text-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
  }
}

.show-text-top span {
  display: inline-block;
  -webkit-animation: show-text-top 2s backwards;
          animation: show-text-top 2s backwards;
}

@-webkit-keyframes show-top {
  0% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-top {
  0% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.front-main {
  -webkit-animation: show-top 1.2s 0.2s backwards;
          animation: show-top 1.2s 0.2s backwards;
}

@-webkit-keyframes show-text-member {
  0% {
    -webkit-transform: translateY(1.5em);
            transform: translateY(1.5em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-text-member {
  0% {
    -webkit-transform: translateY(1.5em);
            transform: translateY(1.5em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.show .show-text-member span {
  display: inline-block;
}

.show .show-text-member > span {
  overflow: hidden;
  height: 1.3em;
}

.show .show-text-member > span > span {
  -webkit-animation: show-text-member 0.6s linear backwards;
          animation: show-text-member 0.6s linear backwards;
}

@-webkit-keyframes show-image {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-image {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.show .member-content-img {
  -webkit-animation: show-image 1s backwards;
          animation: show-image 1s backwards;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll-imply {
  -webkit-animation: flash .8s alternate infinite linear;
          animation: flash .8s alternate infinite linear;
}

/* メインビジュアル(スライドショー) */
.slide {
  margin-bottom: 32px;
}

.slide-wrapper {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
}

.slide-list {
  width: 100%;
  height: 100%;
}

.slide-item {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide-item:nth-child(1) {
  background-image: url("../images/books-2596809_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 22%;
}

.slide-item:nth-child(2) {
  background-image: url("../images/steinhuder-sea-4909703.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 36%;
}

.slide-item:nth-child(3) {
  background-image: url("../images/water-5318700_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.slide-item:nth-child(4) {
  background-image: url("../images/landscapes-5323529_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.slide-item:nth-child(5) {
  background-image: url("../images/autumn-4501856_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 42%;
}

.slide-select {
  margin: 0 auto;
}

.slide-select ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-select ul li {
  margin: 0 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  text-indent: -9999px;
  cursor: pointer;
}

.slide-select .selected {
  background-color: rgba(18, 39, 74, 0.4);
}

/* メインコンテンツ項目共通の設定 */
.main-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
  height: 500px;
  padding: 1rem;
  overflow: hidden;
}

.section:nth-child(2) .section-desc, .section:nth-child(5) .section-desc {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.section:nth-child(2) .section-desc::after, .section:nth-child(5) .section-desc::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 18px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.section:nth-child(2) .section-desc.no-blur::after, .section:nth-child(5) .section-desc.no-blur::after {
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.section:nth-child(4), .section:nth-child(5), .section:nth-child(6) {
  margin-top: 10px;
}

.section-title {
  position: relative;
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 14px;
}

.section-title::before, .section-title::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 3.5rem;
  left: 0;
  width: 40%;
  border-bottom: 2px solid #12274a;
}

.section-title::after {
  left: 49%;
  width: 5%;
  border-bottom: 2px dotted #12274a;
}

.section-title .material-icons {
  position: absolute;
  left: 6rem;
}

.section::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 4.5rem;
  left: 1rem;
  width: 47%;
  border-bottom: 2px dashed #12274a;
}

.section-img-wrapper {
  position: relative;
  height: 45%;
  margin: 0 -10px;
  overflow: hidden;
}

.section-img {
  height: 100%;
  -webkit-transition: .7s;
  transition: .7s;
}

.section-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .7;
}

.section-img > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.section-desc {
  position: relative;
  height: 45%;
  margin: 0 -10px;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #ddd;
}

/* .section */
.link-text {
  /* jQueryで生成するp要素に付加する*/
  position: absolute;
  right: 10%;
  bottom: 10%;
  font-size: 1.6rem;
  color: #eee;
  letter-spacing: 2px;
}

.form-img > a > p {
  bottom: 5%;
}

/* 各コンテンツビジュアル */
.member-img {
  background-image: url("../images/majid-rangraz-xZMghzq01UQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.rules-img {
  background-image: url("../images/watch-4638673_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.system-img {
  background-image: url("../images/light-5083606_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.learning-img {
  background-image: url("../images/knowledge-1052010_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.form-img {
  background-image: url("../images/writing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tips-img {
  background-image: url("../images/light-bulb-1246043_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 50%;
}

/* メンバーリスト */
.member-item:not(:last-child) {
  border-bottom: 1px dotted rgba(18, 39, 74, 0.8);
}

.member-item a {
  display: block;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: .3s;
  transition: .3s;
}

.member-item a:hover {
  background-color: #12274a;
  color: #fff;
  font-weight: bold;
  opacity: .7;
}

.member-item:hover .member-photo {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.member-item:nth-of-type(1) .member-photo {
  background-image: url("../images/memberphotos/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(2) .member-photo {
  background-image: url("../images/memberphotos/2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(3) .member-photo {
  background-image: url("../images/memberphotos/3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(4) .member-photo {
  background-image: url("../images/memberphotos/4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(5) .member-photo {
  background-image: url("../images/memberphotos/5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(6) .member-photo {
  background-image: url("../images/memberphotos/6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(7) .member-photo {
  background-image: url("../images/memberphotos/7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(8) .member-photo {
  background-image: url("../images/memberphotos/8.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(9) .member-photo {
  background-image: url("../images/memberphotos/9.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(10) .member-photo {
  background-image: url("../images/memberphotos/10.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(11) .member-photo {
  background-image: url("../images/memberphotos/11.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(12) .member-photo {
  background-image: url("../images/memberphotos/12.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-item:nth-of-type(13) .member-photo {
  background-image: url("../images/memberphotos/13.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.member-photo, .member-name, .member-post {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1px;
}

.member-photo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url("../images/user.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 3px 22px 3px 12px;
  -webkit-transition: .3s;
  transition: .3s;
}

.member-name {
  width: 40%;
}

.member-post {
  width: 30%;
}

/* メンバーリスト以外のコンテンツで共用の設定 */
.common-desc {
  padding: 10px;
}

.common-desc a {
  display: block;
  color: #666;
  -webkit-transition: .3s;
  transition: .3s;
}

.common-list {
  margin-top: 5px;
}

.common-list a::before {
  content: '\f054';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  color: #666;
  font-size: 0.5rem;
  margin-right: 2px;
}

.common-item a {
  margin: 0 12px;
  padding: 5px 3px;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 1px dotted rgba(18, 39, 74, 0.8);
}

.common-item a:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  color: #fff;
  background-color: rgba(18, 39, 74, 0.7);
}

.common-item a:hover::before {
  color: #fff;
}

.common-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.common-subtitle::before {
  content: '\f0da';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 1.2rem;
  margin-right: 3px;
}

.common-subtitle_link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  padding: 5px;
  margin-left: -5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.common-subtitle_link:before {
  content: '\f0da';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 1.2rem;
  margin-right: 3px;
}

.common-subtitle_link:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  color: #fff;
  background-color: rgba(18, 39, 74, 0.7);
}

.common-subtitle_link:hover::before {
  color: #fff;
}

.more a {
  width: 60px;
  text-align: center;
  padding: 3px;
  margin: 5px auto 15px;
  color: #ddd;
  border-radius: 8px;
  letter-spacing: 1px;
  background-color: rgba(18, 39, 74, 0.7);
  -webkit-transition: .3s;
  transition: .3s;
}

.more a:hover {
  background-color: #fff;
  color: #12274a;
  -webkit-box-shadow: 0 0 4px inset;
          box-shadow: 0 0 4px inset;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* 人事制度 */
.system-desc .more {
  margin-bottom: 25px;
}

.system-list:not(:last-child) .system-item > a {
  display: inline-block;
}

.system-item > p {
  display: inline-block;
  margin: 0 8px 0 4px;
}

.system-item a {
  margin: 0 8px;
}

.indent {
  margin-left: 50%;
}

/*ラーニング */
.learning-subtitle {
  font-size: 1.6rem;
  /* 英語文字は小さく見えるのでここだけ修正 */
}

/* 役立ち情報 */
.tips-desc {
  padding: 10px;
}

.tips-item {
  display: block;
  padding: 5px;
  margin-left: -5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #333;
  font-weight: normal;
  -webkit-transition: .3s;
  transition: .3s;
}

.tips-item:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  color: #fff;
  background-color: rgba(18, 39, 74, 0.7);
}

.tips-item:hover ::before {
  color: #fff;
}

.tips-item .material-icons {
  position: absolute;
  font-size: 1.4rem;
  left: 9rem;
}

.tips-item.en .material-icons {
  left: 17rem;
}

/* サイド */
.aside {
  margin-top: 10px;
}

.aside-title {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  padding: 7.5px 0;
  background-color: rgba(18, 39, 74, 0.8);
  color: #fff;
  border: 1px solid rgba(18, 39, 74, 0.8);
}

.news {
  width: 100%;
  height: 400px;
  background-image: url("../images/paper-fibers.png");
  background-repeat: repeat;
  border: 1px solid #ccc;
}

.news-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 2%;
}

.news-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 0;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 1.8;
}

.news-item a:hover {
  opacity: .6;
  font-weight: bold;
  -webkit-box-shadow: 0px 3px #333;
          box-shadow: 0px 3px #333;
}

.news-item:not(:last-child) a {
  border-bottom: 1px dotted #666;
}

.news-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
}

.news-item-header > time {
  font-size: 1.6rem;
}

.news-item-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-item-cat {
  width: 45px;
  text-align: center;
  padding: 3px;
  color: #fff;
}

.news-item-cat[data="learning"] {
  background-color: #642828;
}

.news-item-cat[data="system"] {
  background-color: #666;
}

.news-item-cat[data="rules"] {
  background-color: #5050b4;
}

.news-item-cat[data="news"] {
  background-color: #12274a;
}

.news-item-cat[data="event"] {
  background-color: #991d1d;
}

.news-item-desc {
  padding-left: 10px;
  font-size: 1.5rem;
  color: #666;
}

.due-date, .countdown {
  position: relative;
  font-size: 1.4rem;
  font-weight: bold;
}

.countdown::after {
  content: '';
  position: absolute;
  top: 1.4rem;
  left: 0;
  width: 100%;
  border-bottom: 3px solid rgba(153, 29, 29, 0.4);
}

.consultation-btn {
  width: 100%;
  height: 48px;
  margin: 30px auto 0;
}

.consultation-btn-desc {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  line-height: 44px;
  color: #eee !important;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: rgba(18, 39, 74, 0.7);
  -webkit-transition: .3s;
  transition: .3s;
}

.consultation-btn-desc:hover {
  background-color: #fff;
  border-color: rgba(18, 39, 74, 0.7);
  color: rgba(18, 39, 74, 0.7) !important;
}

.consultation-btn span {
  margin-left: 12px;
}

/* レスポンシブ対応 */
@media screen and (max-width: 1024px) {
  /*タブレットなど*/
  .aside {
    width: 300px;
  }
  .section {
    width: 48%;
    /*ラップさせることでメインコンテンツのカラムを減らす*/
  }
  .section:nth-child(2) .section-desc,
  .section:nth-child(5) .section-desc {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    /* imgとdescの入れ替えを解除 */
  }
  .section:nth-child(4),
  .section:nth-child(5),
  .section:nth-child(6) {
    margin-top: 0;
  }
  .section:nth-child(odd) {
    margin-right: 2%;
  }
}

@media screen and (max-width: 600px) {
  /*スマホ対応*/
  .slide {
    margin-top: 74px;
    /*ヘッダ固定分をマージンで確保*/
  }
  .slide-wrapper {
    height: 280px;
  }
  .slide-item:nth-child(1) {
    background-position: 50% 30%;
  }
  .slide-item:nth-child(2) {
    background-position: 50% 50%;
  }
  .slide-item:nth-child(3) {
    background-position: 50% 50%;
  }
  .slide-item:nth-child(4) {
    background-position: 50% 50%;
  }
  .slide-item:nth-child(5) {
    background-position: 30% 50%;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-contents {
    width: 100%;
    height: unset;
    padding: 0px;
  }
  .section {
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
    height: 200px;
  }
  .section:nth-child(odd) {
    margin-right: 0px;
    /*1024px以下の設定の打ち消し*/
  }
  .section:nth-child(4), .section:nth-child(5), .section:nth-child(6) {
    margin-top: 0;
  }
  .section:nth-child(2) .section-desc, .section:nth-child(5) .section-desc {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .section:nth-child(2) .section-desc::after, .section:nth-child(2) .section-desc.no-blur::after, .section:nth-child(5) .section-desc::after, .section:nth-child(5) .section-desc.no-blur::after {
    width: 0;
  }
  .section::after {
    width: 0;
  }
  .section-title {
    margin-bottom: 8px;
  }
  .section-title::before, .section-title::after {
    width: 0;
  }
  .section-img-wrapper {
    display: none;
    height: 0;
  }
  .section-desc {
    height: 100%;
    border: none;
    background-image: url("../images/paper-fibers.png");
    background-repeat: repeat;
  }
  .indent {
    margin-left: 15.5%;
  }
  .dark-mode .section-desc {
    background-image: none;
    border: 1px solid #ccc;
  }
  .aside {
    width: 100%;
    height: unset;
    margin-bottom: 80px;
  }
  .news-list-wrapper {
    height: 400px;
  }
}

/* YouTube埋め込み用追加CSSここから */
@media (max-width: 480px) {
  .open-event-link {
    max-width: 9999px;
  }
  .list-link-01 {
    max-width: 9999px;
  }
}

.movie-link {
  width: 100%;
}

#modal-content {
  width: 80%;
  margin: 0;
  padding: 0;
  background: #fff;
  position: fixed;
  display: none;
  z-index: 99999;
}

#modal-content .inner {
  position: relative;
}

#modal-content .inner {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

#modal-content .inner #player {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#modal-overlay {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.75);
}

/* YouTube埋め込み用追加CSSここまで */
/*# sourceMappingURL=front-page.css.map */