@charset "UTF-8";
/* 共通ベーススタイル */
html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "Didact Gothic", "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
  color: #333;
  text-decoration: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 全体レイアウト */
.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* HACK: IE対応のための、親要素flex設定(flex-wrapperのmin-height適用のため)*/
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-width: 1368px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 15px;
  margin: 0 auto 30px;
}

.main-contents {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
}

.aside {
  width: 350px;
  height: 100%;
}

.footer {
  height: 80px;
}

/* ヘッダ */
.header {
  position: relative;
  border-bottom: 1px solid #ccc;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-title {
  text-align: center;
  margin: 10px 0 10px 50px;
}

.site-title > h1 {
  font-size: 4.8rem;
  letter-spacing: 2px;
}

.site-title > p {
  margin: 3px 0;
}

.contact-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 69.14px;
  height: 100%;
  background-color: rgba(18, 39, 74, 0.8);
  z-index: 1;
}

.contact-btn > a {
  display: block;
  width: 100%;
  height: 50%;
  line-height: 47px;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #fff;
  padding: 0  10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact-btn > a:hover {
  background-color: #fff;
  color: #12274a;
  -webkit-box-shadow: 0 0 4px inset;
          box-shadow: 0 0 4px inset;
}

.contact-btn-email {
  border-bottom: 1px solid;
}

.contact-btn-email > span {
  margin-right: 5px;
}

.contact-btn-chat > span {
  margin-right: 3px;
}

.globalnav {
  margin: 20px 100px 20px 0;
}

.globalnav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.globalnav-item {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 16px;
}

.globalnav-item > a {
  position: relative;
  display: block;
  padding: 5px;
}

.globalnav-item > a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid currentColor;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .4s;
  transition: .4s;
}

.globalnav-item > a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*ハンバーガーメニューの設定(通常時は表示しない)*/
.nav-menu-switch {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.nav-menu-open,
.nav-menu-close,
.close-modal {
  display: none;
}

/* フッタ */
.footer {
  background-color: rgba(18, 39, 74, 0.7);
  color: #eee;
  letter-spacing: 1.5px;
}

.footer-wrapper {
  position: relative;
  margin: 0 auto;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  margin: 8px 30px 0 0;
  opacity: 0.7;
}

.footer-nav-item {
  padding-right: 8px;
}

.footer-nav-item:not(:first-of-type)::before {
  content: '/';
  display: inline-block;
  margin-right: 8px;
}

.footer-nav-item > a {
  position: relative;
  display: inline-block;
  color: #eee;
}

.footer-nav-item > a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  display: inline-block;
  border-bottom: 2px solid #ccc;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
}

.footer-nav-item > a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer-lower {
  margin-top: 32px;
  text-align: center;
}

.before-icon::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 1.2rem;
  margin-right: 0.5em;
}

.icon-manual::before {
  content: '\f02d';
  /*Book*/
  font-size: 1rem;
  color: #666;
}

.icon-document::before {
  content: '\f15c';
  /*file*/
  color: #666;
}

.icon-calendar::before {
  content: '\f073';
  /*カレンダー*/
  padding-left: 2px;
}

.icon-seminar::before {
  content: '\f51c';
  /*講義*/
  font-size: 1rem;
}

.icon-box::before {
  content: '\f468';
  /*BOX*/
}

.icon-tags::before {
  content: '\f02c';
  margin-right: 0;
}

/* ダークモードon/offスイッチ */
.btn-on-off {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 12px;
  width: 53px;
  height: 24px;
  opacity: .7;
}

.btn-on-off-wrapper {
  position: relative;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0;
  width: 100%;
}

.btn-on-off-checkbox {
  display: none;
}

.btn-on-off-checkbox:checked ~ label span::after {
  content: "OFF";
  padding: 0 18px 0 0;
}

.btn-on-off-checkbox:checked ~ .btn-on-off-img {
  -webkit-transform: translateX(29px);
          transform: translateX(29px);
}

.btn-on-off-checkbox:checked ~ p {
  font-weight: bold;
}

.btn-on-off-label {
  display: inline-block;
  width: 100%;
  height: 24px;
  border: 1px solid #eee;
  border-radius: 12px;
  cursor: pointer;
}

.btn-on-off-label span::after {
  content: "ON";
  letter-spacing: 1px;
  padding-left: 18px;
  color: #eee;
}

.btn-on-off-img {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: #eee;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

/* 言語選択スイッチ */
.lang-select {
  top: 0;
  left: 76px;
}

.lang-select-label {
  border-radius: 0%;
}

.lang-select-label span::before {
  content: "JPN";
  color: #333;
  padding-right: 3px;
  font-weight: bold;
}

.lang-select-label span:after {
  content: "ENG";
  padding-left: 6px;
  color: #eee;
  font-weight: normal;
  letter-spacing: 0px;
}

.lang-select-checkbox:checked ~ label {
  border-color: #eee;
}

.lang-select-checkbox:checked ~ label span::before {
  color: #eee;
  font-weight: normal;
}

.lang-select-checkbox:checked ~ label span::after {
  content: "ENG";
  padding: 0 0 0 6px;
  color: #333;
  font-weight: bold;
}

.lang-select-checkbox:checked ~ .lang-select-img {
  -webkit-transform: translateX(26.5px);
          transform: translateX(26.5px);
  background: #eee;
}

.lang-select-checkbox:checked ~ p {
  color: #eee;
  font-weight: normal;
}

.lang-select-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 25.5px;
  height: 24px;
  background: #eee;
  border-radius: 0%;
  -webkit-transition: .2s;
  transition: .2s;
}

/* JS用表示設定(初期表示をふわっとさせる */
.starting {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

@-webkit-keyframes show-text-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-text-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
  }
}

.show-text-top span {
  display: inline-block;
  -webkit-animation: show-text-top 2s backwards;
          animation: show-text-top 2s backwards;
}

@-webkit-keyframes show-text-member {
  0% {
    -webkit-transform: translateY(1.5em);
            transform: translateY(1.5em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-text-member {
  0% {
    -webkit-transform: translateY(1.5em);
            transform: translateY(1.5em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.show-text-member span {
  display: inline-block;
}

.show-text-member > span {
  overflow: hidden;
  height: 1.3em;
}

.show-text-member > span > span {
  -webkit-animation: show-text-member 0.6s linear backwards;
          animation: show-text-member 0.6s linear backwards;
}

@-webkit-keyframes show-image {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-image {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.member-content-img {
  -webkit-animation: show-image 1.2s 0.2s backwards;
          animation: show-image 1.2s 0.2s backwards;
}

@-webkit-keyframes show-top {
  0% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-top {
  0% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.front-main {
  -webkit-animation: show-top 1.2s 0.2s backwards;
          animation: show-top 1.2s 0.2s backwards;
}

/* HACK: IEのみ適用(JSが動かないときに画面が真っ白になるのを防ぐため*/
/*英語対応 (英語テキストにはhtmlでenとno-displayクラスをデフォルトで設定し、JSで制御する*/
.en {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.no-display {
  display: none !important;
  /*他のdisplayプロパティと競合するため*/
}

.system-item.en {
  white-space: normal;
}

/* レスポンシブ対応 */
@media screen and (max-width: 1024px) {
  /*タブレットなど*/
  .site-title {
    margin-left: 15px;
  }
  .globalnav-item {
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    margin: 0 9px;
  }
}

@media screen and (max-width: 600px) {
  /*スマホ対応*/
  .header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .header-wrapper {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-title {
    margin: 0;
  }
  .contact-btn a {
    line-height: 36.5px;
  }
  /*ハンバーガーメニューの設定*/
  .nav-menu-open, .nav-menu-close {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 3rem;
    cursor: pointer;
  }
  .nav-menu-close {
    display: none;
  }
  .nav-menu-switch:checked ~ .globalnav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-menu-switch:checked ~ .close-modal {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 500vh;
    width: 100vw;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .nav-menu-switch:checked ~ .nav-menu-close {
    display: inline-block;
    z-index: 1500;
  }
  .nav-menu-switch:checked ~ .nav-menu-open {
    display: none;
  }
  .globalnav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    height: 100vh;
    width: 50%;
    -webkit-transition: .25s;
    transition: .25s;
  }
  .globalnav-list {
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .globalnav-item {
    margin: 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 4px #ccc;
            box-shadow: 0 2px 4px #ccc;
  }
  .globalnav-item > a {
    padding: 20px 0;
  }
  .globalnav-item > a::after {
    display: none;
  }
  /*ハンバーガーメニューここまで*/
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    height: 80px;
    width: 100%;
  }
  .footer-upper {
    display: none;
  }
  .footer-lower {
    position: absolute;
    bottom: -75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0;
    white-space: nowrap;
  }
  .btn-on-off {
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  .lang-select {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
}

/* 各種固定ページの設定 */
/* 共通設定 */
.page-title-wrapper {
  position: relative;
  height: 180px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.page-title-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
}

.page-title-wrapper._members {
  background-image: url("../images/old-1130731_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
}

.page-title-wrapper._rules {
  background-image: url("../images/banner_sunlight.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 27%;
}

.page-title-wrapper._system {
  background-image: url("../images/sunrise-1756274.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 37%;
}

.page-title-wrapper._learning {
  background-image: url("../images/abstract-art-blur-bokeh-544917.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.page-title-wrapper._form {
  background-image: url("../images/working.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-attachment: fixed;
}

.page-title-wrapper._tips {
  background-image: url("../images/network-3537401_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.page-title {
  position: relative;
  top: 44%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 30px;
  color: #eee;
}

.page-title::before, .page-title::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4rem;
  border-bottom: 3px solid currentColor;
  opacity: .7;
}

.page-title::after {
  bottom: -25px;
  width: 5rem;
}

.pages-main {
  display: block;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 84px;
}

.page-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-content {
  padding: 15px;
  border-left: 1px solid #ccc;
}

.page-content:last-child {
  border-right: 1px solid #ccc;
}

.page-content-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 32px;
}

.page-content-title > a {
  display: inline-block;
  width: 75%;
  padding: 0.5rem 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.page-content-subtitle {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.page-content-list {
  margin-bottom: 32px;
}

.page-content-item {
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-left: 30px;
}

.page-content-item > a {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.75rem 0.5rem;
  border-bottom: 1px dotted #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.page-content-item > a > span {
  margin-left: 10px;
}

.page-content-title > a::before, .page-content-item > a::before {
  content: '\f0da';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  font-size: 1.5rem;
  padding-left: 3px;
  margin-right: 6px;
}

.page-content-title > a:hover, .page-content-item > a:hover {
  background-color: rgba(18, 39, 74, 0.7);
  color: #fff;
}

/*メンバー紹介ページ*/
.member-wrapper {
  display: block;
}

.member-content {
  width: 100%;
  height: 280px;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #ccc;
  /*偶数順のコンテンツの配置*/
}

.member-content-img {
  width: 170px;
  height: 170px;
  border-radius: 10%;
  background-color: #eee;
  margin-left: 5%;
}

.member-content-desc {
  position: relative;
  width: 66%;
  height: 100%;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 6%;
}

.member-content-name {
  font-size: 1.8rem;
  letter-spacing: 7px;
  padding-bottom: 12px;
}

.member-content-name.en {
  font-size: 2.4rem;
  letter-spacing: 3px;
}

.member-content-post {
  font-size: 1.4rem;
  padding-bottom: 18px;
}

.member-content-work {
  font-size: 1.2rem;
  padding-bottom: 8px;
  padding-left: 5px;
}

.member-content-work-text {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5;
  width: 77%;
  padding-bottom: 25px;
  padding-left: 2em;
}

.member-content-contact {
  letter-spacing: 1px;
  padding-bottom: 8px;
}

.member-content-contact-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.member-content-contact > a {
  display: inline-block;
  width: 60px;
  height: 25px;
  text-align: center;
  color: #fff;
  line-height: 23px;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.member-content-contact > a:hover {
  background-color: #fff;
  color: #12274a;
  border-color: #12274a;
  opacity: .8;
}

.member-content-contact-mail {
  margin-right: 3px;
  background-color: #12274a;
}

.member-content-contact-teams {
  background-color: #5558AF;
}

.member-content-tel {
  letter-spacing: 1px;
}

/*規則規定ページ*/
.rules-content {
  width: 31.5%;
}

.rules-content:nth-child(2) {
  width: 37%;
}

.rules-content:not(:first-child) .page-content-title {
  padding-top: 5px;
}

.rules-list .page-content-item > a {
  width: 92%;
}

/*人事制度ページ*/
.system-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.system-content {
  width: 50%;
}

.system-content .system-list {
  margin-left: 20%;
}

.system-content:not(:last-child) {
  margin-bottom: 45px;
}

.system-content:nth-child(2) {
  border-right: 1px solid #ccc;
}

.system-content:last-child {
  width: 100%;
}

.system-content:last-child .system-list {
  margin-left: 34%;
}

.form-content {
  width: 50%;
}

.form-content .form-list {
  margin-left: 16%;
  margin-bottom: 54px;
}

/*レスポンシブ設定*/
@media screen and (max-width: 1024px) {
  .page-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-content-item {
    margin-left: 15px;
    font-size: 1.3rem;
  }
  .system-content .system-list,
  .system-content:last-child .system-list {
    margin-left: 3%;
  }
}

@media screen and (max-width: 600px) {
  .page-title-wrapper {
    margin-top: 74px;
    /*ヘッダ固定分をマージンで確保*/
  }
  .pages-main {
    margin-bottom: 80px;
    /*フッタ固定分をマージンで確保*/
  }
  .page-container {
    padding-left: 0;
    padding-right: 0;
  }
  .page-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-content {
    width: 100%;
    padding: 5px;
    border-right: 1px solid #ccc;
  }
  .page-content:nth-child(2) {
    width: 100%;
  }
  .page-content-title {
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .page-content-title > a {
    width: 100%;
  }
  .page-content-item {
    font-size: 1.2rem;
    letter-spacing: 0;
  }
  .system-content {
    width: 100%;
    margin-bottom: 45px;
  }
  .system-content .system-list,
  .system-content:last-child .system-list {
    margin-left: 13%;
  }
  .system-list {
    width: 80%;
  }
  .rules-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .member-content {
    position: relative;
    display: block;
  }
  .member-content-img {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0;
  }
  .member-content-desc {
    width: 80%;
    margin: 0 auto;
  }
  .member-content-work-text {
    width: 100%;
    font-size: 1.1rem;
  }
  .member-content-contact-wrapper {
    bottom: -30px;
  }
  .en.member-content-name {
    font-size: 2rem;
    width: 78%;
  }
  .form-list .page-content-item > a {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
/*# sourceMappingURL=page.css.map */